<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	version="6.0">
	<display-name>Ejemplos</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>param</param-name>
		<param-value>DAM</param-value>
	</context-param>
	<servlet>
		<description></description>
		<display-name>Ejemplo08</display-name>
		<servlet-name>Ejemplo08</servlet-name>
		<servlet-class>Servlets.Ejemplo08</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Ejemplo08</servlet-name>
		<url-pattern>/Ejemplo08</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>cont</param-name>
		<param-value></param-value>
	</context-param>
</web-app>