<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>ServletCotizacion</display-name>
    <servlet-name>ServletCotizacion</servlet-name>
    <servlet-class>com.maraloedev.controller.ServletCotizacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCotizacion</servlet-name>
    <url-pattern>/ServletCotizacion</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.maraloedev.listeners.DatosUsuarios</listener-class>
  </listener>
</web-app>