<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>Ejercicio01</display-name>
    <servlet-name>Ejercicio01</servlet-name>
    <servlet-class>ejercicios.Ejercicio01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejercicio01</servlet-name>
    <url-pattern>/Ejercicio01</url-pattern>
  </servlet-mapping>
  
  <context-param>
  <param-name>color</param-name>
  <param-value>white</param-value>
  </context-param>
  
  <servlet>
    <description></description>
    <display-name>Ejercicio02</display-name>
    <servlet-name>Ejercicio02</servlet-name>
    <servlet-class>ejercicios.Ejercicio02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejercicio02</servlet-name>
    <url-pattern>/Ejercicio02</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Ejercicio02_Context</display-name>
    <servlet-name>Ejercicio02_Context</servlet-name>
    <servlet-class>ejercicios.Ejercicio02_Context</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejercicio02_Context</servlet-name>
    <url-pattern>/Ejercicio02_Context</url-pattern>
  </servlet-mapping>
  
  <context-param>
  <param-name>listadoPersonas</param-name>
  <param-value>0</param-value>
  </context-param>
  
   <servlet>
    <description></description>
    <display-name>Ejercicio03</display-name>
    <servlet-name>Ejercicio03</servlet-name>
    <servlet-class>ejercicios.Ejercicio03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejercicio03</servlet-name>
    <url-pattern>/Ejercicio03</url-pattern>
  </servlet-mapping>
  
    <context-param>
  <param-name>nVisitas</param-name>
  <param-value>0</param-value>
  </context-param>
  
</web-app>