<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>Ejemplo01</display-name>
    <servlet-name>Ejemplo01</servlet-name>
    <servlet-class>servlet.Ejemplo01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejemplo01</servlet-name>
    <url-pattern>/Ejemplo01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ejemplo02</display-name>
    <servlet-name>Ejemplo02</servlet-name>
    <servlet-class>servlet.Ejemplo02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejemplo02</servlet-name>
    <url-pattern>/Ejemplo02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ejemplo03</display-name>
    <servlet-name>Ejemplo03</servlet-name>
    <servlet-class>servlet.Ejemplo03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejemplo03</servlet-name>
    <url-pattern>/Ejemplo03</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ejemplo04</display-name>
    <servlet-name>Ejemplo04</servlet-name>
    <servlet-class>servlet.Ejemplo04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejemplo04</servlet-name>
    <url-pattern>/Ejemplo04</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ejemplo05</display-name>
    <servlet-name>Ejemplo05</servlet-name>
    <servlet-class>servlet.Ejemplo05</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejemplo05</servlet-name>
    <url-pattern>/Ejemplo05</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ejemplo06</display-name>
    <servlet-name>Ejemplo06</servlet-name>
    <servlet-class>servlet.Ejemplo06</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejemplo06</servlet-name>
    <url-pattern>/Ejemplo06</url-pattern>
  </servlet-mapping>
</web-app>